footer span{
    font-size: 10px;
    display: block;
}
footer div {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}